body {
  width: 1200px;
  margin: 0 auto;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
  z-index: -3;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.main-header {
  position: relative;
  z-index: 2;
  width: 100%;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  text-align: center;
}

.nav-list {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list li {
  width: 240px;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.nav-list a {
  display: inline-block;
  margin: 0;
  padding: 14px 10px;
  padding-bottom: 25px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  vertical-align: middle;
  box-sizing: border-box;
}

.nav-list li:nth-child(2) {
  margin-right: 120px;
}

.nav-list li:nth-child(3) {
  margin-left: 120px;
}

.nav-list a:not([href]) {
  color: #766357;
}

.nav-list a[href]:hover,
.nav-list a[href]:focus {
  color: #81b3d2;
}

.nav-list a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.inner-page .footer-wrapper {
  padding-top: 5px;
}

.hashtag {
  flex-shrink: 0;
  width: 400px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer-wrapper .social-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  list-style: none;
}

.social-list .social-icon {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  margin: 0;
  margin-left: 6px;
  padding: 13px;
  text-align: center;
  background-color: #81b3d2;
  box-sizing: border-box;
}

.social-list a:hover,
.social-list a:focus {
  background-color: #669ec0;
}

.social-list a:active {
  background-color: #5496bd;
}

.social-icon:active path {
  opacity: 0.3;
}

.social-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.made-by {
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.made-by p {
  margin: 0;
  margin-right: 8px;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.made-by svg {
  width: 113px;
  height: 39px;
}

.academy-link path {
  fill: #000000;
}

.academy-link:hover path,
.academy-link:focus path {
  fill: #81b3d2;
}

.academy-link:active path {
  fill: #bdbbbc;
}

.main-content {
  margin-top: -10px;
  overflow: hidden;
}

.hero {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.mountains-bg {
  position: relative;
  z-index: 1;
  width: 1200px;
  height: 510px;
  margin-bottom: 45px;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: -80px;
  left: 0;
  width: 1200px;
  z-index: -1;
}

.hero .bg-mask {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0;
  width: 1202px;
}

.hero .welcome-img {
  display: inline-block;
  margin-top: 75px;
  z-index: 3;
}

.hero-heading {
  /* position: absolute;
  bottom: -115px;
  left: 50%;
  transform: translateX(-50%); */
  width: 440px;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 2;
}

.five-reasons {
  width: 490px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
  align-self: center;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  box-sizing: border-box;
}

.reasons-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.reasons-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 45px 45px 45px 45px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

.reasons-block h3 {
  margin: 0;
  padding: 0;
}

.reasons-block p {
  max-width: 315px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.reasons-block strong {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.block1,
.block7 {
  width: 400px;
  /* height: 255px; */
  color: #ffffff;
  background-color: #81b3d2;
  box-sizing: border-box;
}

.block7 {
  padding-top: 45px;
}

.block1 h3,
.block7 h3 {
  width: 200px;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

.block1 span,
.block7 span {
  margin-bottom: 23px;
}

.diablo-bridge span {
  display: block;
  margin-bottom: 0;
}

.block1 p,
.block7 p {
  color: #ffffff;
}

.block2,
.block6 {
  width: 800px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block3,
.block4,
.block5 {
  width: 400px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 80px;
}

.block3 h3,
.block4 h3,
.block5 h3 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.block3 p {
  width: 255px;
}

.block4 p {
  width: 285px;
}

.block5 p {
  width: 275px;
}

.icon-house {
  content: "";
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
  background: url('../img/icon-house.svg') no-repeat 0 0;
}

.icon-eat {
  content: "";
  width: 74px;
  height: 70px;
  margin-bottom: 30px;
  background: url('../img/icon-burger.svg') no-repeat 0 0;
}

.icon-suvenir {
  content: "";
  width: 64px;
  height: 76px;
  margin-bottom: 30px;
  background: url('../img/icon-suvenir.svg') no-repeat 0 0;
}

.reason-icon {
  margin-bottom: 30px;
}

.block8,
.block9,
.block10 {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #eeeeee;
}

.block8 h3,
.block9 h3,
.block10 h3 {
  width: 160px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.block8 span,
.block9 span,
.block10 span {
  margin-bottom: 20px;
}

.block8 p {
  width: 210px;
  margin: 0;
  padding: 0;
}

.block9 p {
  width: 265px;
  margin: 0;
  padding: 0;
}

.block10 p {
  width: 255px;
  margin: 0;
  padding: 0;
}

.search-hotels {
  position: relative;
  margin: 0;
  padding: 0;
}

.search-hotels .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  text-align: center;
}

.search-hotels p {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.search-hotels .question-text {
  width: 636px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 25px;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}


.search-form-container {
  position: relative;
  margin-top: 47px;
  text-align: center;
}

.btn-hotel-search {
  z-index: 3;
  display: block;
  width: 568px;
  margin: 0;
  padding: 30px;
  text-align: center;
  background-color: #766357;
  box-sizing: border-box;
}

.btn-hotel-search:hover,
.btn-hotel-search:focus {
  background-color: #604e43;
}

.btn-hotel-search:active {
  background-color: #503e33;
}

.search-hotels h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-hotel-search:active h3 {
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  position: absolute;
  top: 85px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 568px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 55px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition: all 0.4s;
  overflow: hidden;
}

.search-form-hide {
  transform: translate(-50%, 0%);
  z-index: -1;
}

@keyframes error {
  0%, 15%, 25%, 0%, 15%, 25%, 35%, 45%, 55%,
  65%, 75%, 85%, 95%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-3px);}
  20%, 40%, 60%, 80% {transform: translateX(3px);}
}

.feedback-error {
  animation-name: error;
  animation-duration: 0.5s;
}

.map {
  position: relative;
  width: 100%;
  height: 470px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 470px;
  border: none;
}

label {
  margin-right: 14px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

label[for="child"] {
  padding: 0;
  margin: 0;
  margin-right: -15px;
}

.search-form p {
  display: block;
  width: 100%;
  margin-bottom: 27px;
  box-sizing: border-box;
}

.search-form .entrance,
.search-form .departure {
  width: 346px;
  padding: 5px 12px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.entrance-container,
.departure-container {
  position: relative;
}

.calendar {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.calendar path {
  fill: #cacaca;
}

.calendar:hover path,
.calendar:focus path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

.search-form input[name="adult"],
.search-form input[name="child"],
.visitors-count span {
  width: 38px;
  height: 38px;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}

.search-form .visitors-count {
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.visitors-count label[for="adult"] {
  margin-right: 40px;
}

.visitors-count label[for="child"] {
  margin-right: 27px;
}

.visitors-count span {
  display: flex;
  width: 114px;
}

.visitors-count .adult-count {
  margin-right: 55px;
}

.visitors-count .btn-minus,
.visitors-count .btn-plus {
  position: relative;
  display: inline-block;
  width: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
}

.visitors-count .btn-minus::before,
.visitors-count .btn-plus::before,
.visitors-count .btn-plus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  transform: translateX(-50%);
}

.visitors-count .btn-plus::after {
  transform: translateX(-50%) rotate(90deg);
}

.visitors-count .btn-minus:hover::before,
.visitors-count .btn-plus:hover::before,
.visitors-count .btn-plus:hover::after,
.visitors-count .btn-minus:focus::before,
.visitors-count .btn-plus:focus::before,
.visitors-count .btn-plus:focus::after {
  background-color: #000000;
}

.visitors-count .btn-minus:active::before,
.visitors-count .btn-plus:active::before,
.visitors-count .btn-plus:active::after {
  background-color: #81b3d2;
}

.visitors-count input[type="text"] {
  width: 50px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
}

.search-form input[type="text"] {
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}

.search-form input[type="text"]:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
  border: 2px solid #e5e5e5;
  background-color: transparent;
}

.search-form input[type="text"]::placeholder {
  color:#000000;
  opacity: 0.6;
}

.search-form .search {
  width: 100%;
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  box-sizing: border-box;
}

.search-form .search:hover,
.search-form .search:focus {
  background-color: #669ec0;
}

.search-form .search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-filter {
  width: 1200px;
  margin-bottom: 13px;
  background: url('../img/filter-bg.jpg') no-repeat 0 center;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 70px;
}

.filter-left-col,
.filter-right-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.filter-right-col {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filter-form fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form .infrastructure {
  margin-right: 110px;
}

.filter-right-col .price {
  margin-bottom: 53px;
}

.filter-form legend {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-form p {
  margin: 0;
  margin-top: 24px;
  padding: 0;
}

.filter-form label {
  position: relative;
  margin: 0;
  padding: 4px 40px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}


.filter-form label:before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 23px;
  height: 23px;
  transform: translateY(-50%);
  background: url('../img/checkbox-off.svg') no-repeat 0 0;
}

.filter-form label:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: none;
  width: 26px;
  height: 23px;
  transform: translateY(-50%);
  background: url('../img/checkbox-on.svg') no-repeat 0 0;
}

.filter-form input[type="checkbox"]:checked + label:after {
  display: block;
}

.filter-form input[type="checkbox"]:focus + label {
  outline: thin dotted;
}

input[type="checkbox"]:disabled + label:before {
  fill: #6a6a6a;
  opacity: 0.6;
}

.filter-form .price-range {
  width: 318px;
  height: 36px;
  margin-top: 10px;
  border-radius: 3px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price-controls input {
  width: 155px;
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background: transparent;
  box-sizing: border-box;
}

.price-controls input[type="text"]::-moz-placeholder {
  color: #ffffff;
}

.price-controls .min-price::placeholder,
.price-controls .max-price::placeholder {
  color: #ffffff;
  opacity: 0.8;
}

.price-controls .divider {
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ffffff;
}

.filter-form button[type="submit"] {
  width: 138px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  border: 2px solid #ffffff;
  background: transparent;
  box-sizing: border-box;
}

.filter-form button[type="submit"]:hover,
.filter-form button[type="submit"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.filter-form button[type="submit"]:focus {
  outline: thin dotted;
}

.range-container {
  position: relative;
  width: 318px;
  margin-top: 24px;
}

.range-container .scale {
  content: "";
  z-index: 2;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-container .bar {
  content: "";
  z-index: 1;
  width: 78%;
  height: 2px;
  background-color: #ffffff;
}

.range-container .toggle {
  position: absolute;
  top: -9px;
  left: -10px;
  content: "";
  width: 20px;
  height: 20px;
  border: none;
  background: none;
}

.range-container .toggle-max {
  left: 75%;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 70px 7px 70px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.sorting-container p {
  margin-right: 50px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.sorting-order {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sorting-order h3 {
  margin: 0;
  margin-right: 40px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.sorting-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 30px;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list .active,
.sorting-list a:hover:not(.active),
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.sorting-list .active {
  border: none;
}

.sorting-arrow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-arrow li {
  margin-left: 10px;
}

.sorting-arrow a {
  cursor: pointer;
}

.arrow-up path,
.arrow-down path {
  fill: #cacaca;
}

.arrow-down:not([href]) path,
.arrow-up:not([href]) path {
  fill: #81b3d2;
}

.arrow-up[href]:hover path,
.arrow-down[href]:hover path,
.arrow-up[href]:focus path,
.arrow-down[href]:focus path {
  fill: #000000;
}

.arrow-up[href]:active path,
.arrow-down[href]:active path {
  fill: #81b3d2;
}

.hotel-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 70px 30px 70px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-container img {
  width: 135px;
  height: auto;
  margin-right: 30px;
}

.hotel-description {
  flex-grow: 1;
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hotel-name {
  max-width: 565px;
  margin: 0;
  padding: 0;
}

.hotel-description h3 {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 6px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-name:hover h3,
.hotel-name:focus h3 {
  color: #81b3d2;
}

.hotel-name:active h3 {
  color: rgba(0, 0, 0, 0.3);
}

.housing-price {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.housing-type {
  margin-right: 40px;
}

.hotel-description-buttons {
  max-width: 565px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-description-buttons .read-more {
  display: inline-block;
  max-width: 260px;
  margin-top: 10px;
  margin-right: 3px;
  padding: 5px 18px;
  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-description-buttons .read-more:hover,
.hotel-description-buttons .read-more:focus {
  background-color: #669ec0;
}

.hotel-description-buttons .read-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-description-buttons .reserve {
  display: inline-block;
  max-width: 260px;
  margin-top: 10px;
  padding: 5px 16px;
  color: #ffffff;
  background-color: #766357;
}

.hotel-description-buttons .reserve:hover,
.hotel-description-buttons .reserve:focus {
  background-color: #604e43;
}

.hotel-description-buttons .reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-description-buttons .read-more:focus,
.hotel-description-buttons .reserve:focus {
  outline: thin dotted;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
}

.stars-container {
  margin-bottom: 37px;
  text-align: right;
}

.hotel-container .rating {
  margin: 0;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
